* {
    box-sizing: border-box;
}

body {
    color: #1E2835;
    background-color: #F3E5AB;
    font-size: 1.5em;
    font-family: 'Audiowide', cursive;
    margin: 0;
}

h1 {
    background-color: #FF7F50;
    margin:  0 0 20px 0;
    padding: 20px;
    text-align: center;
    font-family: 'Audiowide', cursive;
}



#top-message {
    text-align: center;
    padding: 10px;
}


input{
    height: 51px;
    font-size: 21pt;

}

.button {
  display: inline-block;
  padding: 6px 21px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
 /* box-shadow: 0 9px #999;*/
}

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


canvas {   /*this is where we're going to draw the pictures*/
    width: 800px;
    height: 600px;
    border: 1px #C7CACD solid;
    display: block;
    margin: 0 auto;
    background-color:white;
}


/*Colors Pickers*/
.colors div {
  float: left;
  width: 20px;
  height: 20px;
  margin: 5px;
  border: 1px solid rgba(0, 0, 0, .2);
}

.blue {
  background: #13b4ff;
}

.purple {
  background: #ab3fdd;
}

.wine {
  background: #ae163e;
}

.black{
    background: #000000;
}

.pink{
    background: #FAAFBA;
}


